<h3>Search Strain</h3>
<form action="/stammen" method="GET">
	<label>Species:</label>
	<input type="text" name="species" value="<%= searchOptions.species %>">
	<button type="submit">Search</button>
</form>
<br>
<% stammen.forEach(stam => { %>
	<div><%= stam.fhnr %></div>
<% }) %>
